body {
  font-family: "Quicksand", sans-serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
  color: #000000;
  font-size: 24px;
  font-weight: 100px;
  line-height: 28px;
  margin-bottom: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-project {
  max-width: 800px;
  margin: 50px auto;
  border: 2px solid #f6f4e6;
  border-radius: 15px;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}
.col {
  color: #797a7e;
}
