html {
  height: 100;
}

.weather-project {
  max-width: 800px;
  margin: 50px auto;
  border: 2px solid #f6f4e6;
  border-radius: 15px;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2,
h5 {
  position: relative;
  top: 50px;
  left: 0px;
}
h4 {
  color: #939aa9;
  position: relative;
  text-align: center;
  top: -50px;
  left: 150px;
}

.col {
  color: #797a7e;
}
.link {
  font-size: small;
  text-align: center;
}
